# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak

# Other system files
Thumbs.db